
.boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    border: 2px solid black;
    margin: 12px;
    
}
.row{
    border: 0px solid rgb(218, 218, 218);
    display: flex;
    flex: 1;
    margin: 0px;
}

.box{
    border: 1px solid rgb(242, 242, 242);
    flex: 1;
    margin: 0px;
    background-color: white;
}

.sketcher{
    background-color: rgb(115, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    width: 580px;
    border-radius: 30px;
    color: bisque;
    font-family: "helvetica";
}

h3{
    font-weight: 700 ;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottomBar{
align-self: flex-start;
display: flex;
justify-content: flex-start;
padding-left: 40px;
gap: 20px;
}

.sizer{
    display: flex;
    flex-direction: column;
    gap:20px;
    justify-content: space-around;
}
.colorer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
